.homeBanner {
    width: 100%;
    height: 100%;
}

.homeBanner h1 {
    color: #055eb8;
    font: normal bold 72px/70px 'Montserrat', sans-serif;
    text-align: left;
}

.column1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.column2 {
    height: 500px;
}
.homeBanner img {
    position: absolute;
    height: inherit;
    width: 100%;
    top: 64px;
    right: 0px;
}

.column1 p {
    color: #055eb8;
    font: normal bold 24px/40px 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .homeBanner h1 {
        font: normal bold 25px/20px 'Montserrat', sans-serif;
    }
}
